In [1]:
# dependencies
import pandas as pd
import os

# import budget_data.csv into a dataframe
file = "Resources/budget_data.csv"
budget_df = pd.read_csv(file)

In [12]:
# Define the function and have it accept the 'budget_df' as its sole parameter
def print_percentages(budget_df):
    # For readability, it can help to assign your values to variables with descriptive names
    total_months = []
    net_amount = []
    average = []
    increase = []
    decrease = []

In [3]:
# computing number of rows
total_months = len(budget_df.axes[0])
print(total_months)

86

In [4]:
budget_df

      Date  Profit/Losses
0   Jan-10         867884
1   Feb-10         984655
2   Mar-10         322013
3   Apr-10         -69417
4   May-10         310503
..     ...            ...
81  Oct-16         102685
82  Nov-16         795914
83  Dec-16          60988
84  Jan-17         138230
85  Feb-17         671099

[86 rows x 2 columns]

In [16]:
column_name = "Profit/Losses"
net_amount = budget_df[column_name].sum()
print(net_amount)

38382578

In [17]:
#create new column
budget_df['Profit/Losses_dif'] = budget_df['Profit/Losses'].diff()
print(budget_df)

      Date  Profit/Losses  Profit/Losses_dif
0   Jan-10         867884                NaN
1   Feb-10         984655           116771.0
2   Mar-10         322013          -662642.0
3   Apr-10         -69417          -391430.0
4   May-10         310503           379920.0
..     ...            ...                ...
81  Oct-16         102685          -665765.0
82  Nov-16         795914           693229.0
83  Dec-16          60988          -734926.0
84  Jan-17         138230            77242.0
85  Feb-17         671099           532869.0

[86 rows x 3 columns]

In [18]:
# The average of the changes in "Profit/Losses" over the entire period
budget_df['difference'] = budget_df['Profit/Losses_dif'] - budget_df['Profit/Losses']
budget_df['difference'] = budget_df['difference'].abs()
average = budget_df['difference'].mean()
print(average)

616074.4823529412

In [19]:
average=budget_df["Profit/Losses_dif"].mean()

In [20]:
increase = '${:.0f}'.format(budget_df["Profit/Losses_dif"].max())
Gi_Date = budget_df[budget_df["Profit/Losses_dif"] == increase]
print(increase)

$1926159

In [21]:
increase_date = budget_df.loc[budget_df['Profit/Losses_dif'].idxmax(), 'Date']

In [22]:
# The greatest decrease in losses (date and amount) over the entire period
decrease =  '${:.0f}'.format(budget_df["Profit/Losses_dif"].min())
Gd_Date = budget_df[budget_df['Profit/Losses_dif'] == decrease]
print(decrease)

$-2196167

In [23]:
decrease_date = budget_df.loc[budget_df['Profit/Losses_dif'].idxmin(), 'Date']

In [24]:
output = (
    f"\nFinancial Analysis\n"
    f"----------------------------\n"
    f"Total Months: {total_months}\n"
    f"Total Revenue: ${net_amount}\n"
    f"Average Revenue Change: ${average}\n"
    f"Greatest Increase in Revenue: {increase_date} {increase}\n"
    f"Greatest Decrease in Revenue: {decrease_date} {decrease}\n")
print(output)

Financial Analysis
----------------------------
Total Months: 86
Total Revenue: $38382578
Average Revenue Change: $-2315.1176470588234
Greatest Increase in Revenue: Feb-12 $1926159
Greatest Decrease in Revenue: Sep-13 $-2196167

In [25]:
with open("output.txt","w") as output_txt:
    output_txt.write(output)