In [1]:
# dependencies
import pandas as pd
import os

# import budget_data.csv into a dataframe
file = "Resources/election_data.csv"
vote_df = pd.read_csv(file)

In [2]:
vote_df

         Voter ID County Candidate
0        12864552  Marsh      Khan
1        17444633  Marsh    Correy
2        19330107  Marsh      Khan
3        19865775  Queen      Khan
4        11927875  Marsh      Khan
...           ...    ...       ...
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

[3521001 rows x 3 columns]

In [8]:
vote_candidate = pd.DataFrame(vote_df["Candidate"].value_counts().reset_index())
vote_county = pd.DataFrame(vote_df["County"].value_counts().reset_index())

In [9]:
vote_candidate

      index  Candidate
0      Khan    2218231
1    Correy     704200
2        Li     492940
3  O'Tooley     105630

In [10]:
vote_county

     index   County
0    Marsh  2265957
1    Queen   697203
2    Bamoo   348658
3  Trandee   104617
4   Raffah   104566

In [49]:
total_votes = vote_candidate["Candidate"].sum()
vote_str = ""
for idx, row in vote_candidate.iterrows():
    candidate = row["index"]
    c_count = row["Candidate"]
    c_percent = round(((c_count/total_votes)*100), 2)
    print(f"{candidate}: ({c_percent}%) {c_count}")
    vote_str+=(f"{candidate}: ({c_percent}%) {c_count}\n")
win_can = vote_candidate["index"].iloc[0]
print(f"Winner: {win_can}")
vote_str+=(f"Winner: {win_can}\n")

Khan: (63.0%) 2218231
Correy: (20.0%) 704200
Li: (14.0%) 492940
O'Tooley: (3.0%) 105630
Winner: Khan

In [40]:
total_counties = vote_county["County"].sum()
for idx, row in vote_county.iterrows():
    county = row["index"]
    c_count = row["County"]
    c_percent = round(((c_count/total_votes)*100), 2)
    print(f"{county}: ({c_percent}%) {c_count}")
win_county = vote_county["index"].iloc[0]
print(f"Winner: {win_county}")

Marsh: (64.36%) 2265957
Queen: (19.8%) 697203
Bamoo: (9.9%) 348658
Trandee: (2.97%) 104617
Raffah: (2.97%) 104566
Winner: Marsh

In [27]:
# Define the function and have it accept the 'vote_df' as its sole parameter
def print_percentages(vote_df):
    # For readability, it can help to assign your values to variables with descriptive names
    num_votes = []
    win_percent = []
    candidates = []
    total_votes = []

In [28]:
# computing number of rows
num_votes = len(vote_df.axes[0])
print(num_votes)

3521001

In [50]:
output = (
    f"\nElection Results\n"
    f"----------------------------\n"
    f"Total Votes: {total_votes}\n"
    f"----------------------------\n" ) 
print(output)
print(vote_str)

Election Results
----------------------------
Total Votes: 3521001
----------------------------

Khan: (63.0%) 2218231
Correy: (20.0%) 704200
Li: (14.0%) 492940
O'Tooley: (3.0%) 105630
Winner: Khan

In [51]:
with open("output.txt","w") as output_txt:
    output_txt.write(output)
    output_txt.write(vote_str)